@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
	steelBlue: '#7284A8',
	aliceBlue: '#ebf2faff',
	claret: '#750d37ff',
	lincolnGreen: '#2a4d14ff',
	richBlack: '#040f16ff',
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #7284A8;
	color: #ebf2faff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
